/* Colors */

$color-primary: #ff7652;
$color-purple: #6c5ecf;
$color-blue: #32a8e2;
$color-gray-400: #9898ad;
$color-gray-500: #6b6b7b;
$color-gray-600: #5b5b6b;
$color-gray-800: #353340;
$color-gray-900: #272532;

/* Shadow */
$shadow-default: 0 3px 12px rgba(0, 0, 0, 0.03);
$shadow-md: 0 3px 12px rgba(0, 0, 0, 0.01);
